.game-board {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: 1s;
    visibility: hidden;
}

.game-board.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
}