.top-panel {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 3px;
    visibility: visible;
    font-size: 20px;
    background:  rgb(7, 110, 228); 
}

.top-panel.active {
  visibility: visible;
}
  
.top-panel .one-player,
.top-panel .two-player {
  float: left;
  margin-left: 20px;
  text-align: center;
}
  
.top-panel .reset {
  float: right;
  padding: 8px;
  font-size: 20px;
  outline: none;
  background: inherit;
  border: none; 
}
.top-panel .reset:hover {
  border-bottom: 1px solid #fff;
}

.turn-one-player,
.turn-two-player  {
  height: 40px;
  box-sizing: border-box;
  padding: 3px;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  background: rgb(209, 17, 17);
  color: white;
  transition: 1s;
  z-index: -999;
  transition: 1s;
}
.turn-one-player {
  position: absolute;
  top: 0;
  left: 0;
}
.turn-one-player.active {
  top: -40px;
  z-index: 1;
}

.turn-two-player {
  position: absolute;
  top: 0;
  right: 0;
}

.turn-two-player.active {
  top: -40px;
  z-index: 1;
}