.outter-container {
  position: relative;
  width: 390px;
  border-width: 0 20px 50px;
  border-color: rgb(7, 110, 228);
  border-style: solid;
  border-radius: 10px;
  font-family: 'Amatic SC', cursive, sans-serif;
  user-select: none;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .8);
}

.border-container {
  position: relative;
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(19, 2, 112) radial-gradient(center, rgb(7, 110, 228), rgba(6, 1, 37, 0.6));
}

button {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 400px) {
  .outter-container {
    width: 300px;
  }
  .border-container {
    height: 300px;
  }
}

