body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(146, 195, 238);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

